@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";




@keyframes fadeUp {

from {
  opacity:0;
  transform:translateY(24px);
}

to {
  opacity:1;
  transform:translateY(0);
}

}


@keyframes shieldIn {

from {
 opacity:0;
 transform:scale(.85);
}

to {
 opacity:1;
 transform:scale(1);
}

}



@keyframes float {

0%,100% {
 transform:translateY(0);
}


50% {
 transform:translateY(-16px);
}

}

@theme {

  --color-red: #C8102E;
  --color-red-dark: #A50D26;

  --color-dark: #1E1E1C;
  --color-navy: #F4F1E8;
  --color-navy-2: #EDE9DF;


  --font-bebas: "Bebas Neue", sans-serif;
  --font-mulish: "Mulish", sans-serif;

}




html {
 scroll-behavior:smooth;
}


body {
 background:#F4F1E8;
 color:#1E1E1C;
 font-family:"Mulish",sans-serif;
}

@keyframes scroll {

  from {
   transform:translateX(0);
  }
  
  to {
   transform:translateX(-50%);
  }
  
  }
  
  
  .animate-scroll {
  
  animation:scroll 25s linear infinite;
  
  }

  /* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */